@{
    ViewData["Title"] = "Home Page";
}

  <ul>
    <li>
        <a asp-area="" asp-controller="Home" asp-action="NewUser">Yeni Abone Oluştur</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Home" asp-action="UserQuery">Abone Sorgula</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Home" asp-action="InvoiceQuery">Fatura Sorgula ve Öde</a>
    </li>
     <li>
        <a asp-area="" asp-controller="Home" asp-action="CloseUser">Abone Kapatma</a>
    </li                      
</ul>
